.header {
    background-color: rgba(0, 28, 32, .75);

}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    padding-top: 15px;
    padding-bottom: 15px;

    @include small {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.header__menu-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-right: 200px;

    @include small {
        display: none;
    }
}

// burger
.header__menu-icon {
    display: none;

    @include small {
        display: block;
        z-index: 99;
    }
}

.header__menu-item {
    margin-left: 30px;
    position: relative;

}

.haeder__menu-link:hover {
    color: #ffcd34;

}

// pop-up
.header__menu-pop-up-title {
    background: #ffcd34;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 30px;

}

.header__menu-pop-up {
    display: flex;
    position: absolute;
    top: 85px;
    right: 480px;

}

.header__menu-pop-up-list {
    margin: 0;
    padding: 0;
}

.header__menu-pop-up-title {
    margin: 0;

    &--left {
        border-top-left-radius: 10px;
    }

    &--right {
        border-top-right-radius: 10px;
    }
}

.header__menu-pop-up-list {
    background: rgba(0, 28, 32, .75);
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;

    &--left {
        border-bottom-left-radius: 10px;
    }

    &--right {
        border-bottom-right-radius: 10px;
    }
}

.header__menu-pop-up-list--right {

    padding-left: 20px;
    padding-right: 70px;

}

.header__menu-pop-up-item:not(:first-child) {
    margin-top: 8px;
}

.header__menu-pop-up {
    // display: none;
    // height: 0;
    // opacity: 0;
    // transition: all 0.5s ease-in;
}
.header__menu-pop-up--open {
    opacity: 1;
}