
.main__info {
    display: flex;
    justify-content: center;
}

.main__dsr {
    margin-top: 160px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 100px;
    padding-right: 100px;
    text-transform: uppercase;
    font-size: 14px;
    
}
.main__dsr-img {
    margin-right: 25px;
}
.main__dsr-left{
    background: #041f31;
}
.main__dsr-right{

    background: #ffcd34;
    color: #000;
}
.main__btn-submit {
    background: #ffcd34;
    border: none;
    border-radius: 30px;
     padding-top: 15px;
     padding-bottom: 15px;
     padding-left: 50px;
     padding-right: 50px;
   text-transform: uppercase;
   cursor: pointer;
   text-align:center;
   position: absolute;
  left: 45%;
  margin-top: 20px;

    
 

}
.main__filter {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.main__card {
    background-color: rgba(0, 28, 32, .75);
    border-radius: 10px;
    
}
.main__card-w {
    height: 100%;
     
}
.main__card-title {
    margin: 0;
    padding: 0;  
    border-bottom: 1px solid #fff;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: normal;
    padding-left: 20px;
}
.main__card-info {
    display: flex;
}

.main__search-dsr {
    margin-left: 10px;
    
}
.main__search {
    margin-top: 20px;
}
.main__card-list {
    margin: 0;
    padding: 0;
    text-align: start;
    padding-left: 20px;

    padding-bottom: 20px;
}
.main__card-next {
    margin-left: 125px;
    margin-right: 125px;
}
.main__card-next-w {
    margin-left: 75px;
    margin-right: 70px; 
}
.main__card-item {
    margin-top: 20px;
}
.main__card-dsr {
    color: #ffcd34;
}

