.main__info {
    display: flex;
    justify-content: center;
}

.main__dsr {
    margin-top: 160px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 100px;
    padding-right: 100px;
    text-transform: uppercase;
    font-size: 14px;

    @include medium {
        margin-top: 100px;
        width: 100%;
    }

    @include small {
        margin-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
        width: 100%;
        display: flex;
        align-items: center;
    }
}

// .main__date {
//     border: 1px solid #000;
// }

.main__dsr-img {
    margin-right: 20px;

    @include small {
        margin-right: 10px;
    }
}

.main__dsr-left {
    background: #041f31;
}

.main__dsr-right {

    background: #ffcd34;
    color: #000;
}

.main__btn-submit {
    background: #ffcd34;
    border: none;
    border-radius: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 20px;
}

.main__filter {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    @include medium {
        flex-direction: column;
    }

    @include small {
        display: none;
    }


}

.main__card {
    background-color: rgba(0, 28, 32, .75);
    border-radius: 10px;

}

.main__card-w {
    height: 100%;

}

.main__card-title {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #fff;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: normal;
    padding-left: 20px;
}

.main__card-info {
    display: flex;
}

.main__search-dsr {
    margin-left: 10px;

}

.main__search {
    margin-top: 20px;

}

.main__card-list {
    margin: 0;
    padding: 0;
    text-align: start;
    padding-left: 20px;
    padding-bottom: 20px;
}

.main__card-next {
    margin-left: 100px;
    margin-right: 100px;

    @include medium {
        margin-left: 50px;
        margin-right: 50px;
    }
}

.main__card-next-w {
    margin-left: 50px;
    margin-right: 40px;

}

.main__card-w {
    @include medium {
        margin-top: 20px;
    }
}

.main__card-item {
    margin-top: 20px;
}

.main__card-dsr {
    color: #ffcd34;
}


// Checkbox
.checkboxFive {

    position: relative;
}

.checkboxFive label {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background: #0b232f;
    border: 1px solid #ffcd34;
}

.checkboxFive input[type=checkbox]:checked+label {
    background: #ffcd34;
}

.checkboxFive input[type=checkbox]:checked+label:after {
    opacity: 1;

    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    top: 3px;
    left: 5px;
    border: 1px solid #000;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
}

// Che